# Modified from https://github.com/actions/starter-workflows/blob/main/ci/python-app.yml
name: python

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools build twine openai
          python -m pip install -e .[all]
      - name: Test with pytest
        run: |
          pytest
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_BASE_URL: ${{ secrets.OPENAI_BASE_URL }}
          BRAINTRUST_API_KEY: ${{ secrets.BRAINTRUST_API_KEY }}
